<script>
  $('.colorpicker-hidden').remove();

  $('#event-color-picker').colorpicker();

  $('#event_all_day').bootstrapSwitch();

  $('#event_starts_at').datetimepicker({
    format: 'YYYY-MM-DD h:mm'
  });

  $('#event_ends_at').datetimepicker({
    format: 'YYYY-MM-DD h:mm'
  });
</script>

<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for event, remote: true, class: 'events-form' do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= event.persisted? ? "Event: #{event.title}" : 'Create an Event' %></h4>
      </div>
      <div class="modal-body">
        <div class='form-group row'>
          <%= f.label :title, class: 'col-sm-3 form-control-label' %>
          <div class='col-sm-9'>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <ul class='event-form-errors' id='event_title_error'></ul>
        </div>

        <div class='form-group row'>
          <%= f.label :location, class: 'col-sm-3 form-control-label' %>
          <div class='col-sm-9'>
            <%= f.text_field :location, class: 'form-control' %>
          </div>
          <ul class='event-form-errors' id='event_location_error'></ul>
        </div>

        <div class='form-group row'>
          <%= f.label :description, class: 'col-sm-3 form-control-label' %>
          <div class='col-sm-9'>
            <%= f.text_area :description, class: 'form-control' %>
          </div>
          <ul class='event-form-errors' id='event_description_error'></ul>
        </div>

        <div class='form-group row'>
          <%= f.label :starts_at, class: 'col-sm-3 form-control-label' %>
          <div class='col-sm-9'>
            <%= f.datetime_field :starts_at, class: 'form-control' %>
          </div>
          <ul class='event-form-errors' id='event_starts_at_error'></ul>
        </div>

        <div class='form-group row'>
          <%= f.label :ends_at, class: 'col-sm-3 form-control-label' %>
          <div class='col-sm-9'>
            <%= f.datetime_field :ends_at, class: 'form-control' %>
          </div>
          <ul class='event-form-errors' id='event_ends_at_error'></ul>
        </div>

        <div class='form-group row'>
          <%= f.label :color_code, "Color", class: 'col-sm-3 form-control-label' %>
          <div class='col-sm-9'>
            <div class='input-group' id='event-color-picker'>
              <%= f.text_field :color_code, class: 'form-control' %>
              <span class='input-group-addon'><i></i></span>
            </div>
          </div>
          <ul class='event-form-errors' id='event_color_code_error'></ul>
        </div>

        <div class='form-group row'>
          <%= f.label :all_day, class: 'col-sm-3 form-control-label' %>
          <div class='col-sm-9'>
            <%= f.check_box :all_day, class: 'form-control' %>
          </div>
        </div>
        <ul class='event-form-errors' id='event_all_day_error'></ul>

      </div>
      <div class="modal-footer">
        <% if event.persisted? %>
          <button type='button' class='btn btn-danger' id='event-delete-button'>Delete</button>
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <% if event.persisted? %>
          <%= f.submit 'Update', class: 'btn btn-primary' %>
        <% else %>
          <%= f.submit 'Create', class: 'btn btn-primary' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
