<% style = "top: "+@top+"px; left: "+@left+"px; display: block;" %>
<div class="event-information-display popover fade bottom in" role="tooltip" style="<%= style %>">
  <div class="arrow" style="left: 50%;"></div>
  <h3 class="popover-title"><%= event.title %><i class='fa fa-close' id='event-information-popover-close-button'></i></h3>
  <div class="popover-content">
    <% if event.description.present? %>
      <span class="label label-info">what</span>
      <div class='well well-sm'>
       <%= event.description %>
      </div>
    <% end %>
    <% if event.location.present? %>
      <span class="label label-default">where</span>
      <div class='well well-sm'>
        <%= event.location %>
      </div>
    <% end %>
    <% if event.starts_at.present? %>
      <span class="label label-warning">when</span>
      <div class='well well-sm'>
        <%= event.starts_at.strftime('%b %e, %Y, %l:%M %p') %> - <%= event.ends_at.strftime('%b %e, %Y, %l:%M %p') %>
      </div>
    <% end %>
  </div>
  <div class='popover-footer'>
    <button class='btn btn-sm btn-danger' id='event-delete-button'>delete</button>
    <button class='btn btn-sm btn-primary' id='event-edit-button'>edit</button>
  </div>
</div>
